<!-- <div class="main">
    hello
    <df-messenger intent="WELCOME" chat-title="Test_sayantani" agent-id="4dfc22b2-d6d2-45d5-ab74-eafd5c8140fb"
        language-code="en"></df-messenger>
</div> -->
<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

      <img src="../../assets/img/logo.gif" style="width: fit-content; height: 50px"/>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#games">Games</a></li>
          <li><a class="nav-link scrollto" href="#immersive_reading">Immersive Reading</a></li>
          <li><a class="nav-link scrollto" href="#gall">Gallery</a></li>
          <li><a class="nav-link scrollto" target="_blank" href="https://maps.app.goo.gl/2KrEMrtfPgHWKxNt5">GPS</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
 
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container d-flex flex-column align-items-center justify-content-center" data-aos="fade-up">
      <h1>Forget-Me-Not</h1>
      <h2>Empowering Dementia Care with Compassion and Innovation</h2>
      <img src="../../assets/img/elderly_with_family.jpg" class="img-fluid hero-img" style="width: 800px; height: 650px;" alt="" data-aos="zoom-in" data-aos-delay="150">
    </div>

  </section><!-- End Hero -->

  <app-games/>

  <app-immersivereader/>



  <main id="main">

    <!-- ======= LGBTQ+ Section ======= -->
    <section id="services" class="services">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2 style="text-align: center;">Embracing Inclusivity: Dementia Care for the LGBTQ+ Community</h2>
          <p style="text-align: justify;">Navigating dementia care can be challenging for anyone, but for the LGBTQ+ Community, these challenges are often compounded by discrimination and a lack of understanding.
            Our solution is also designed to bridge this gap, providing a safe and inclusive environment where LGBTQ+ individuals feel respected and understood.
            By fostering an atmosphere of acceptance and Inclusivity, we aim to improve the quality of life for LGBTQ+ individuals living with dementia and their families.
          </p>
        </div>

        <div class="row">

          <div class=" mb-5 mb-lg-0" style="width: 100%;" data-aos="fade-up" data-aos-delay="200">
            <div>
              <img src="../../assets/img/lgbtq.jpg" style="width: 50%; height: 25%; display: block; margin-left: auto; margin-right: auto;"/>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

    <app-gallery/>
  </main><!-- End #main -->



  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong><span>Neuron Navigators</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/bikin-free-simple-landing-page-template/ -->
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->

  
  
  <!-- Chatbox -->
  <div class="">
    <df-messenger intent="WELCOME" chat-title="DIVA" agent-id="4dfc22b2-d6d2-45d5-ab74-eafd5c8140fb"
        language-code="en"></df-messenger>
  </div>

  