<div class="container mt-50 mb-50" style="text-align:center">
  <h1>
    Immersive Reading
  </h1>

  <div class="d-flex">
    <div class="link">
      <div id="para-1" (click)="changePara(1)">Para 1</div>
      <div id="para-2" (click)="changePara(2)">Para 2</div>
      <div id="para-3" (click)="changePara(3)">Para 3</div>
      <div id="para-4" (click)="changePara(4)">Para 4</div>
    </div>
    <div class="text">
      <textarea id="communication" rows="5" cols="50" readonly></textarea>
      <br>
      <button (click)="readTextAloud()">Read Aloud</button>
      <button (click)="stopReading()">Stop</button>
    </div>
  </div>
  
</div>