textarea{
    width: 800px;
    height: 200px;
    margin: 5px;
    padding: 5px;
    resize: none;
}

h1{
    margin: 20px;
}

button{
    outline: none;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #466393;
    margin: 15px;
    padding: 10px;
}

.mt-50{
    margin-top: 50px;
}

.mb-50{
    margin-bottom: 50px;
}

.d-flex{
    display: flex;
    justify-content: center;
}

.link{
    padding: 10px;
    margin: 0;

}
