<section id="services" class="services">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Games</h2>
    </div>

    <div class="row">
      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="100">
        <div class="icon-box">
          <div class="icon"><img src="../../assets/img/tetris-1.png" style="width: fit-content; height: 100px"/></div>
          <h4 class="title"><a href="https://www.lumpty.com/amusements/Games/Tetris/tetris.html">Tetris</a></h4>
          <p class="description">Tetris is a classic puzzle game where players arrange falling geometric shapes to form complete horizontal lines, which then disappear.It improves player's reflexes and strategic thinking.</p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="200">
        <div class="icon-box">
          <div class="icon"><img src="../../assets/img/jigsaw.jpg" style="width: fit-content; height: 100px"/></div>
          <h4 class="title"><a href="https://www.jigsawexplorer.com/">Jigsaw Puzzles</a></h4>
          <p class="description">Digital jigsaw puzzles that can help with concentration and focus.</p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="300">
        <div class="icon-box">
          <div class="icon"><img src="../../assets/img/brain-game.jpg" style="width: 100%; height: fit-content;"/></div>
          <h4 class="title"><a href="https://www.gamesforthebrain.com/">Cognitive Stimulation Therapy (CST) Games</a></h4>
          <p class="description">Engaging games aimed at improving memory, logic, and critical thinking.</p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="400">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-layer"></i></div>
          <h4 class="title"><a href="https://www.memozor.com/">Memory Games</a></h4>
          <p class="description">Memory matching games that help exercise and improve memory.</p>
        </div>
      </div>

    </div>

  </div>
  <br/>
  <br/>
  <div class="container" data-aos="fade-up">
    <div class="row">
      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="100">
        <div class="icon-box">
          <div class="icon"><i class="bx bxl-dribbble"></i></div>
          <h4 class="title"><a href="https://www.lumosity.com/en/">Brain Training Games</a></h4>
          <p class="description">Fun, interactive games targeting memory and cognitive skills.</p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="200">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-file"></i></div>
          <h4 class="title"><a href="https://thewordsearch.com/">Word Search</a></h4>
          <p class="description">Classic word search puzzles that stimulate the brain.

          </p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="300">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-tachometer"></i></div>
          <h4 class="title"><a href="https://sudoku.com/">Sudoku Puzzles</a></h4>
          <p class="description">Online Sudoku puzzles that enhance logical thinking and problem-solving skills.

          </p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="400">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-layer"></i></div>
          <h4 class="title"><a href="https://www.memozor.com/memory-games/big-or-giant/symbols">Matching Pairs</a></h4>
          <p class="description">Online matching games to help improve short-term memory and focus.</p>
        </div>
      </div>

    </div>

  </div>
</section>